*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  .btn-container .btn {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px; }
    .btn-container .btn:before {
      content: '';
      background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
      position: absolute;
      top: -2px;
      left: -2px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: glowing 20s linear infinite;
      opacity: 0;
      transition: opacity .3s ease-in-out;
      border-radius: 10px; }
    .btn-container .btn:active {
      color: #000; }
    .btn-container .btn:active:after {
      background: transparent; }
    .btn-container .btn:hover:before {
      opacity: 1; }
    .btn-container .btn:after {
      z-index: -1;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #111;
      left: 0;
      top: 0;
      border-radius: 10px; }

@keyframes glowing {
  0% {
    background-position: 0 0; }
  50% {
    background-position: 400% 0; }
  100% {
    background-position: 0 0; } }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh; }

.doers {
  color: #fff;
  max-width: 728px;
  margin: 4rem auto; }
  .doers > h1 {
    text-align: center;
    margin: 1rem 0; }

.Card {
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  background: #444;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #333333; }
  .Card--text h1 {
    color: #ff9900; }
  .Card--button button {
    background: #f5f6f7;
    padding: 0.4rem 1rem;
    border-radius: 20px;
    cursor: pointer; }
  .Card--button__delete {
    border: 1px solid #ca0000;
    color: #ca0000; }
  .Card--button__done {
    border: 1px solid #00aa69;
    color: #00aa69;
    margin-right: 1rem; }

.Form {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #444;
  margin-bottom: 1rem; }
  .Form > div {
    display: flex;
    justify-content: center;
    align-items: center; }
  .Form input {
    background: #f5f6f7;
    padding: 0.5rem 1rem;
    border: 1px solid #ff9900;
    border-radius: 10px;
    display: block;
    margin: 0.3rem 1rem 0 0; }
  .Form button {
    background: #ff9900;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    border: none; }

.line-through {
  text-decoration: line-through;
  color: #777 !important; }

.hide-button {
  display: none; }
